button.buttonError {
  padding: 10px 50px;
  font-size: 25px;
  border-radius: 8px;
  cursor: pointer;
  align-self: flex-end;
  &:hover {
    opacity: 0.9;
    background-color: rgb(124, 11, 11);
    border-color: rgb(124, 11, 11);
  }
}
