.bottomSection {
  display: flex;
  flex-direction: column;

  .title {
    font-size: 34px;
    text-align: center;
    color: yellowgreen;
  }
  .subtitle {
    font-size: 26px;
    text-align: center;
  }
  :is(.title, .subtitle, .list) {
    margin-bottom: 8px;
  }
  .buttonContainer {
    display: inline-flex;
    justify-content: space-between;
  }
  .list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    list-style: none;
    justify-content: center;
    height: 100%;
    margin: 10px 0px;
  }
  .listCard {
    display: flex;
    flex-direction: column;
    width: 300px;
  }
  .cardItem {
    text-align: left;
    color: rgb(199, 64, 64);
    cursor: default;
  }
}
